{{#extend "layouts/main"}}
	{{#content "body"}}
		{{> "partials/header"}}
		<div class="posts pure-u-3-4">
			{{#each posts}}
				<article class="posts-listing">
					<header class="posts-listing-header">
						<h2 class="posts-listing-title">{{this.title}}</h2>
						<span class="posts-listing-author">{{either this.author.username this.author.email}}</span>
						<time datetime="{{this.created_at}}">{{time this.created_at}}</time>
					</header>
					<section class="posts-listing-body">
						<p>
							{{this.excerpt}}
						</p>
					</section>
				</article>
			{{/each}}
			<div class="filler"></div>
			<div class="posts-controls">
				<a class="pure-button pure-button-primary" href="/?page={{sub page 1}}" {{#unless hasPrev}}disabled{{/unless}}>Previous</a>
				<span class="filler-w-100">{{page}} / {{total_pages}}</span>
				<a class="pure-button pure-button-primary" href="/?page={{add page 1}}" {{#unless hasNext}}disabled{{/unless}}>Next</a>
			</div>
		</div>
	{{/content}}
{{/extend}}
